html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

#logo-link {
  padding: 0px;
}

#main-content {
  padding-top: 12px;
}


#spoiler-panel {
  min-height: 100px;
  #spoiler-mask {
    padding: 24px;
    font-size: 1.4em;
    background-color: #cacaca;
    min-height: 100px;
    &:hover {
      cursor: pointer;
    }
  }
  #spoiler-text {
    padding: 24px;
    font-size: 1.4em;
    border: 1px solid #cacaca;
    min-height: 100px;
  }
}
