// screen.scss

// copy pasta from foundation scss source code
$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;



html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

#logo-link {
  padding: 0px;
  padding-bottom: 2px;
}

#main-content {
  padding-top: 12px;
  padding-bottom: 8em;
}

img.spoily-demo-gif {
  border: 1px solid $light-gray;

  -webkit-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    4px 4px 16px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         4px 4px 16px 0px rgba(50, 50, 50, 0.36);
}


#spoiler-vue-app {
  .spoiler-wrapper {
    min-height: 200px;
    .spoiler-mask {
      padding: 24px;
      font-size: 1.4em;
      background-color: $light-gray;
      .mask-text {
        font-size: 1.4em;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .spoiler-text {
      padding: 24px;
      font-size: 1.4em;
      border: 1px solid $light-gray;
    }
  }
  .spoiler-sharing-options {
    margin-top: 1em;
    padding-bottom: 4em;
    p {
      margin-bottom: 24px;
    }
  }
}
