<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page-title }}</title>

    <!-- styles -->
    {% style "/static/vendor/css/foundation.min.css" %}
    {% style "/static/css/screen.css" %}

  </head>
  <body>
    <div id="main-container">
      {% block content %}
      {% endblock %}
    </di

    <!-- scripts -->
    {% script "/static/vendor/js/jquery-3.1.0.min.js" %}
    {% script "/static/vendor/js/what-input.js" %}
    {% script "/static/vendor/js/foundation.min.js" %}
    {% script "/static/js/app.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>

    {% block page-scripts %}
    {% endblock %}

  </body>
</html>
