<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to spoily</title>

    <!-- styles -->
    {% style "/css/screen.css" %}

  </head>
  <body>
    <div id="main-container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>

    {% block page-scripts %}
    {% endblock %}

  </body>
</html>
