{% extends "base.html" %}
{% block content %}
<div class="row">

  <div class="medium-6 medium-offset-3 columns">
    <h1 class="text-center">Nobody Likes Spoilers In Their Internets</h1>
    <h3 class="text-center">Post Them Here Instead</h3>

    <br />

    <div class="row">
      <div class="medium-12 columns">
        <form action="/spoiler" method="post" class="ui-front" data-abide novalidate>

          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
          </div>

          <label>Spoiler Text
            <textarea type="text"
                      name="spoilerText"
                      placeholder="This is the spoily bit" rows="4"
                      pattern="min_2" required></textarea>
            <span class="form-error">
              Required Field. Minimum 2 characters.
            </span>
          </label>

          <label>Mask Text
            <input type="text"
                   name="maskText"
                   placeholder="Hide the spoiler behind these words"
                   required
                   pattern="min_2" />
            <span class="form-error">
              Required Field. Minimum 2 characters.
            </span>
          </label>

          <label>Topic <small>(optional)</small>
            <input type="text"
                   name="topic"
                   placeholder="What show/film/book/etc is this spoiler about?"
                   pattern="min_2" />
          </label>

          {% csrf-field %}

          <button type="submit" class="button float-right">Submit</button>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns text-center">
        <br />
        <img class="spoily-demo-gif" src="/static/img/spoily_demo.gif">
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block page-scripts %}

<script>
  $(function() {
    var availableTopics = [
      "Demon's Souls",
      "Dark Souls",
      "Dark Souls 2",
      "Dark Souls 3",
      "Bloodborne",
      'Game of Thrones',
      'Breaking Bad',
      'The Big Bang Theory',
      'The Walking Dead',
      'Dexter',
      'How I Met Your Mother',
      'Sherlock',
      'Arrow',
      'Friends',
      'Homeland',
      'Lost',
      'House',
      'Fringe',
      'House of Cards',
      'Suits',
      'Supernatural',
      'Modern Family',
      'Doctor Who',
      'Orange Is the New Black',
      'The Simpsons',
      'True Detective',
      'Marvel\'s Agents of S.H.I.E.L.D.',
      'Community',
      'American Horror Story',
      'Person of Interest',
      'True Blood',
      'The Flash',
      'Firefly',
      'Once Upon a Time',
      'Vikings',
      'Family Guy',
      'Prison Break',
      'South Park',
      'Futurama',
      'New Girl',
      'Sons of Anarchy',
      'Battlestar Galactica',
      'Hannibal',
      'The Vampire Diaries',
      'The Blacklist',
      'Chuck',
      'Castle',
      'Elementary',
      'Californication',
      'Mr. Robot',
      'Under the Dome',
      'Marvel\'s Daredevil',
      'The Mentalist',
      'Grey\'s Anatomy',
      'Band of Brothers',
      'Heroes',
      'Parks and Recreation',
      'The Wire',
      'Gotham',
      'Orphan Black',
      'The 100',
      'The IT Crowd',
      'Spartacus',
      'The Office',
      'Scrubs',
      'Arrested Development',
      'White Collar',
      '24',
      'Two and a Half Men',
      'Falling Skies',
      'Shameless',
      'Fargo',
      'Mad Men',
      'Grimm',
      'The Sopranos',
      'Boardwalk Empire',
      'Top Gear',
      'Bones',
      'Archer',
      'The X-Files',
      '2 Broke Girls',
      'Revolution',
      'Brooklyn Nine-Nine',
      'Revenge',
      'Continuum',
      'Better Call Saul',
      'Glee',
      'Pretty Little Liars',
      'Avatar: The Last Airbender',
      'Silicon Valley',
      'Stargate SG-1',
      'The Following',
      'The Newsroom',
      'Teen Wolf',
      'Seinfeld',
      'Misfits',
      'Stranger Things',
      'Weeds',
      'Buffy the Vampire Slayer',
      'Criminal Minds',
      '30 Rock',
      'NCIS',
      'It\'s Always Sunny in Philadelphia',
      'Lie to Me',
      'Downton Abbey',
      'Eureka',
      'Penny Dreadful',
      'Marvel\'s Jessica Jones',
      'Death Note',
      'Smallville',
      'American Dad!',
      'Black Mirror',
      'The Americans',
      'How to Get Away with Murder',
      'Banshee',
      'Star Trek: The Next Generation',
      'Almost Human',
      'Entourage',
      'Justified',
      'Stargate Atlantis',
      'Warehouse 13',
      'Sleepy Hollow',
      'Luther',
      'The Good Wife',
      'Da Vinci\'s Demons',
      'Gossip Girl',
      'Burn Notice',
      'The Legend of Korra',
      'Bates Motel',
      'The Originals',
      'Rome',
      'Narcos',
      'Sense8',
      'Psych',
      'MythBusters',
      'The Strain',
      'The Killing',
      'Veronica Mars',
      'Black Sails',
      'Nikita',
      'Attack on Titan',
      'Terra Nova',
      'That \'70s Show',
      'Scandal',
      'Merlin',
      'Rick and Morty',
      'Stargate Universe',
      'Adventure Time',
      'Six Feet Under',
      'Desperate Housewives',
      'Defiance',
      'Hawaii Five-0',
      'Louie',
      'The Last Ship',
      'Twin Peaks',
      'Gilmore Girls',
      'Marvel\'s Agent Carter',
      'Cosmos: A Spacetime Odyssey',
      'Bob\'s Burgers',
      'Ray Donovan',
      'Skins',
      'Fear the Walking Dead',
      'Dollhouse',
      'The Pacific',
      'V',
      'Star Trek: Voyager',
      'Alphas',
      'The Daily Show',
      'Leverage',
      'Hell on Wheels',
      'The Shield',
      'Haven',
      'Torchwood',
      'Alcatraz',
      'Helix',
      'Constantine',
      'My Name Is Earl',
      'Deadwood',
      'Girls',
      'The Leftovers',
      'Touch',
      'Alias',
      'Pushing Daisies',
      'Malcolm in the Middle',
      'FlashForward',
      'Forever',
      'Naruto Shippuden',
      'Freaks and Geeks',
      'CSI: Crime Scene Investigation',
      'Broadchurch',
      'Fullmetal Alchemist: Brotherhood',
      'Angel',
      'One Piece',
      'Planet Earth',
      'The O.C.',
      'Charmed',
      'Star Trek: Deep Space Nine',
      'Last Week Tonight with John Oliver',
      'The Fresh Prince of Bel-Air',
      'Utopia',
      'Lost Girl',
      'Limitless',
      'Scorpion',
      'NCIS: Los Angeles',
      'Dragon Ball Z',
      'The Dark Knight',
      'Inception',
      'Deadpool',
      'The Avengers',
      'Guardians of the Galaxy',
      'The Matrix',
      'Interstellar',
      'Fight Club',
      'Avatar',
      'Frozen',
      'Iron Man',
      'The Martian',
      'Star Wars: The Force Awakens',
      'The Dark Knight Rises',
      'The Lord of the Rings: The Fellowship of the Ring',
      'Django Unchained',
      'The Wolf of Wall Street',
      'Batman Begins',
      'Finding Nemo',
      'The Lord of the Rings: The Return of the King',
      'Captain America: Civil War',
      'Captain America: The Winter Soldier',
      'The Lord of the Rings: The Two Towers',
      'The Hunger Games',
      'Star Wars',
      'The Hobbit: An Unexpected Journey',
      'Edge of Tomorrow',
      'Pulp Fiction',
      'Up',
      'WALL·E',
      'Mad Max: Fury Road',
      'Batman v Superman: Dawn of Justice',
      'The Shawshank Redemption',
      'Forrest Gump',
      'X-Men: Days of Future Past',
      'The Hunger Games: Catching Fire',
      'The Empire Strikes Back',
      'Back to the Future',
      'Despicable Me',
      'Zootopia',
      'Now You See Me',
      'Iron Man 3',
      'Inside Out',
      'Iron Man 2',
      'Ant-Man',
      'Return of the Jedi',
      'Avengers: Age of Ultron',
      'Monsters, Inc.',
      'Big Hero 6',
      'Jurassic World',
      'Gravity',
      'X-Men: Apocalypse',
      'Captain America: The First Avenger',
      'The Lion King',
      'The Hobbit: The Desolation of Smaug',
      'Kingsman: The Secret Service',
      'Toy Story',
      'V for Vendetta',
      'Inglourious Basterds',
      'Man of Steel',
      'The Revenant',
      'Thor',
      'Star Trek Into Darkness',
      'Harry Potter and the Philosopher\'s Stone',
      'Gone Girl',
      'Se7en',
      'How to Train Your Dragon',
      'Star Trek',
      'Thor: The Dark World',
      'Despicable Me 2',
      'The Imitation Game',
      'Gladiator',
      'The Hangover',
      'The Incredibles',
      'Pirates of the Caribbean: The Curse of the Black Pearl',
      'Ex Machina',
      'World War Z',
      'Divergent',
      'The Amazing Spider-Man',
      'Harry Potter and the Deathly Hallows: Part 2',
      'X-Men: First Class',
      'Lucy',
      'Sherlock Holmes',
      'Wreck-It Ralph',
      'Skyfall',
      'The Maze Runner',
      'Harry Potter and the Prisoner of Azkaban',
      'Harry Potter and the Chamber of Secrets',
      'Toy Story 3',
      'The Prestige',
      'Pacific Rim',
      'Jurassic Park',
      'The Lego Movie',
      'Shutter Island',
      'The Bourne Identity',
      '300',
      'Star Wars: Episode I - The Phantom Menace',
      'The Hateful Eight',
      'Star Wars: Episode III - Revenge of the Sith',
      'Harry Potter and the Goblet of Fire'
    ]

    setTimeout(function() {
      $('input[name="topic"]').autocomplete({
        source: function(req, res) {
          var results = $.ui.autocomplete.filter(availableTopics, req.term);
          res(results.slice(0,10));
        }
      });
    }, 100);
  });
</script>


{% endblock %}
