{% extends "base.html" %}
{% block content %}
<div class="row">

  <div class="medium-6 medium-offset-3 columns">
    <h1 class="text-center">Nobody Likes Spoilers In Their Internets</h1>
    <h3 class="text-center">Post Them Here Instead</h3>

    <hr />

    <div class="row">
      <div class="medium-12 columns">
        <form action="/spoiler" method="post" class="ui-front" data-abide novalidate>

          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
          </div>

          <label>Spoiler Text
            <textarea type="text"
                      name="spoilerText"
                      placeholder="This is the spoily bit" rows="4"
                      pattern="min_2" required></textarea>
            <span class="form-error">
              Required Field. Minimum 2 characters.
            </span>
          </label>

          <label>Mask Text
            <input type="text"
                   name="maskText"
                   placeholder="Hide the spoiler behind these words"
                   required
                   pattern="min_2" />
            <span class="form-error">
              Required Field. Minimum 2 characters.
            </span>
          </label>

          <label>Topic <small>(optional)</small>
            <input type="text"
                   name="topic"
                   placeholder="What show/film/book/etc is this spoiler about?"
                   pattern="min_2" />
          </label>

          {% csrf-field %}

          <button type="submit" class="button float-right">Submit</button>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns text-center">
        <br />
        <img class="spoily-demo-gif" src="/static/img/spoily_demo.gif">
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block page-scripts %}

<script>
  $(function() {
    var availableTopics = [
      "Game of Thrones",
      "Demon's Souls",
      "Dark Souls",
      "Dark Souls 2",
      "Dark Souls 3",
      "Bloodborne"
    ];
    setTimeout(function() {
      $('input[name="topic"]').autocomplete({
        source: availableTopics
      });
    }, 100);
  });
</script>


{% endblock %}
