{% extends "base.html" %}
{% block content %}
<div class="row">

  <div class="medium-12 columns">

    {% if spoiler.topic %}
    <h1 class="text-center">Spoilers for {{spoiler.topic}}!</h1>
    {% else %}
    <h1 class="text-center">Spoiler Warning!</h1>
    {% endif %}

    <br />

    <noscript>
      <h1 style="margin-bottom: 200em;">
        Hey, your browser doesn't support Javascript, Scroll down for the spoiler...
      </h1>
      <div style="margin-bottom: 12em;">
        <h2>Spoiler:</h2>
        <p>{{ spoiler.spoilerText }}</p>
      </div>
      <hr />
    </noscript>

    <div class="row">
      <div class="medium-12 columns">

        <!-- Begin VueJS app -->
        <div id="spoiler-vue-app" class="row" v-cloak>
          <div class="medium-12 columns">

            <div class="spoiler-wrapper">

              <div class="spoiler-mask text-center"
                   v-if="state.showSpoiler == false"
                   v-on:click="showSpoiler()">
                <span class="mask-text"><% spoiler.maskText %></span>
                <br>
                <span class="click-prompt">(Click To Reveal)</span>
              </div>
              <div class="spoiler-text text-center"
                   v-else>
                <% spoiler.spoilerText %>
              </div>

            </div>


            <div class="spoiler-sharing-options">
              <hr />
              <h3 class="text-center">Share This Spoiler</h3>
              <p>
                <h5>Direct Link</h5>
                <code><% directLink() %></code>
              </p>
              <p>
                <h5>Markdown (for Reddit comments, etc)</h5>
                <code><% markdownLink() %></code>
              </p>
              <p>
                <h5>BBCode (for various forums, etc)</h5>
                <code><% bbcodeLink() %></code>
              </p>
              <hr />
              <p>
                <button class="button primary"
                        v-on:click="toggleRawData()">
                  <span v-if="state.showRawData">Hide Raw Data</span>
                  <span v-else>Show Raw Data</span>
                </button>
                <div class="callout secondary" v-if="state.showRawData">
                  <pre><% rawJson() %></pre>
                </div>
              </p>
            </div>


          </div>
        </div>
        <!-- End VueJS app -->

      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block page-scripts %}

  <script>
    window.Spoiler = {{spoiler|json|safe}}
  </script>

  {% script "/static/vendor/js/vue.min.js" %}

  {% script "/static/js/spoiler-page.js" %}


{% endblock %}
