{% extends "base.html" %}
{% block content %}
<div class="row">

  <div class="medium-6 medium-offset-3 columns">

    <h1 class="text-center">Spoiler Warning!</h1>


    <noscript>
      <h1 style="margin-bottom: 200em;">
        Hey, your browser doesn't support Javascript, Scroll down for the spoiler...
      </h1>
      <div style="margin-bottom: 12em;">
        <h2>Spoiler:</h2>
        <p>{{ spoiler.spoilerText }}</p>
      </div>
      <hr />
    </noscript>

    <div class="row">
      <div class="medium-12 columns">

        <!-- Begin VueJS app -->
        <div id="spoiler-panel">

          <div id="spoiler-mask"
               class="text-center"
               v-if="state.showSpoiler == false"
               v-on:click="showSpoiler()">
            <% spoiler.maskText %>
            <br>
            ...Click To Reveal
          </div>
          <div id="spoiler-text"
               class="text-center"
               v-else>
            <% spoiler.spoilerText %>
          </div>

        </div>
        <!-- End VueJS app -->

      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block page-scripts %}

  <script>
    window.Spoiler = {{spoiler|json|safe}}
  </script>

  {% script "/static/vendor/js/vue.min.js" %}

  {% script "/static/js/spoiler-page.js" %}


{% endblock %}
