html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%; }

#logo-link {
  padding: 0px;
  padding-bottom: 2px; }

#main-content {
  padding-top: 18px;
  padding-bottom: 8em; }

img.spoily-demo-gif {
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.36);
  box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.36); }

[v-cloak] {
  display: none; }

#spoiler-vue-app .spoiler-wrapper {
  min-height: 200px; }
  #spoiler-vue-app .spoiler-wrapper .spoiler-mask {
    padding: 24px;
    font-size: 1.4em;
    background-color: #e6e6e6; }
    #spoiler-vue-app .spoiler-wrapper .spoiler-mask .mask-text {
      font-size: 1.4em; }
    #spoiler-vue-app .spoiler-wrapper .spoiler-mask:hover {
      cursor: pointer; }
  #spoiler-vue-app .spoiler-wrapper .spoiler-text {
    padding: 24px;
    font-size: 1.4em;
    border: 1px solid #e6e6e6; }

#spoiler-vue-app .spoiler-sharing-options {
  margin-top: 1em;
  /* padding-bottom: 4em; */ }
  #spoiler-vue-app .spoiler-sharing-options p {
    margin-bottom: 24px; }
  #spoiler-vue-app .spoiler-sharing-options .share-text {
    background-color: #e6e6e6;
    border: 1px solid #cacaca;
    font-family: monospace;
    font-size: 1.3em;
    padding: 8px;
    word-break: break-all; }

ul.ui-autocomplete {
  max-width: 400px; }

#footer {
  margin-top: 4em;
  padding-top: 1em;
  padding-bottom: 2em;
  border-top: 1px solid #cacaca; }
