html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%; }

#logo-link {
  padding: 0px;
  padding-bottom: 2px; }

#main-content {
  padding-top: 12px; }

#spoiler-vue-app .spoiler-wrapper {
  min-height: 200px; }
  #spoiler-vue-app .spoiler-wrapper .spoiler-mask {
    padding: 24px;
    font-size: 1.4em;
    background-color: #e6e6e6; }
    #spoiler-vue-app .spoiler-wrapper .spoiler-mask:hover {
      cursor: pointer; }
  #spoiler-vue-app .spoiler-wrapper .spoiler-text {
    padding: 24px;
    font-size: 1.4em;
    border: 1px solid #e6e6e6; }

#spoiler-vue-app .spoiler-sharing-options {
  margin-top: 1em;
  padding-bottom: 4em; }
